[Desktop Entry]
Name=crackle
Encoding=UTF-8
Exec=sh -c "crackle;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-02-offline-attacks;05-02-bluetooth-tools;
X-Kali-Package=crackle
